/* -------------------------------- 
Primary style
-------------------------------- */
.boton-generar-matriz{
  width: 40px;
}

.texto-matriz{
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
}

.header-logo-utn {
  position: relative;
  height: 80px;
  line-height: 80px;
  text-align: left;
  float: left;
}

.header-logo-siel {
  position: relative;
  height: 80px;
  line-height: 80px;
  text-align: right;
  float: right;
  padding-right: 40px;
}

.titulo-ecuaciones-lineales {
  text-align: center;
  float: left;
  width: 100%;
  position: absolute;
  padding-top: 5px;
}

.subtitulo {
  text-align: justify;
  font-size: 4;
  font: Arial;
  color: #990000;
}

.matriz {
  float: left;
  margin-right: 10px;
}

.vector-inicial{
  margin-top: 0px;
}

.boton-aislado{
  clear: both;
  padding-top: 15px;
}
